.header,
.sectionAbout {
  max-width: 1150px;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.header__hero--bg-tablet {
  position: absolute;
  top: -15vw;
  right: -22vw;
  z-index: -1;
  width: 400px;
  object-fit: cover;
}

/* navbar */
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid;

  button {
    margin: 0;
  }
}
.header__navbar--menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 30px;

  li a {
    font-size: 14px;
    color: hsl(228, 39%, 23%);

    &:hover {
      color: hsl(227, 12%, 61%);
      transition: 0.5s;
    }
  }
}

/* hero */
.header__hero {
  display: flex;
  margin-top: 100px;
  button {
    margin: 0;
  }
}

.header__hero--info {
  h2 {
    font-size: 3.25rem;
    margin-bottom: 30px;
    margin-top: 70px;
    line-height: 3.5rem;
  }
  p {
    max-width: 350px;
    color: hsl(227, 12%, 61%);
    margin-bottom: 40px;
    line-height: 1.8rem;
  }
}

/* main */
.sectionAbout {
  display: flex;
  margin: 95px auto;
  gap: 30px;
}
.sectionManage {
  h3 {
    font-size: 36px;
    color: hsl(228, 39%, 23%);
    margin-bottom: 30px;
    width: 500px;
  }
  p {
    line-height: 1.6rem;
    color: hsl(227, 12%, 61%);
    width: 350px;
  }
}

.sectionProvides {
  .productTeam {
    display: flex;
    gap: 20px;

    span {
      background: rgb(242, 95, 58);
      padding: 10px 25px;
      border-radius: 20px;
      height: min-content;
      color: white;
      font-weight: 600;
    }

    h4 {
      color: hsl(228, 39%, 23%);
      padding: 8px 0;
      font-size: 18px;
    }

    p {
      line-height: 1.6rem;
      color: hsl(227, 12%, 61%);
      margin: 20px 0 40px 0;
      max-width: 450px;
    }
  }
}

.sectionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 36px;
    color: hsl(228, 39%, 23%);
    margin-bottom: 80px;
  }
}
.containerCard {
  border: solid;
  width: 100%;
}

.slides {
    border: solid;
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
    
    
    
    .card {    
      position: relative;
      display: flex;
      min-width: 540px;
      height: 220px;
      padding: 30px 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: hsl(0, 0%, 98%);
      transition: transform 0.6s ease;
      
      img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          position: absolute;
          top: -40px;
        }
        h4 {
            margin: 20px 0;
        }
        p {
            text-align: center;
            color: hsl(227, 12%, 61%);
            line-height: 1.6rem;
        }
    }
}




/* .containerCard:active .card {
  animation: ani 2s linear infinite alternate;
} */
.active {
  /* Estilos para cuando el contenedor está activo */
  transform: translateX(-100%); /* Aplicar transform a containerCard */
}

.hamburger,
.bar {
  display: none;
}

@keyframes ani{
    100%{
        transform: translate(-100%, 0);
    }
}